.uk-container
  %h1= t('navigation.search')
  %ul{"uk-accordion" => ""}
    %li
      %a.uk-accordion-title{:href => "#"}= t('form.search.fields')
      .uk-accordion-content
        .uk-align-center
          = render 'search_form'
      %h2= t('form.search.results')
      .uk-clearfix
        .uk-float-right
          = paginate @items
      %ul.uk-list.uk-list-divider
        = render partial: 'item', collection: @items
