= form_for user, html: {class: 'uk-form-horizontal', data: { controller: 'access-checkbox' }} do |f|
  = render 'alert', errors: user.errors
  .uk-margin
    = f.label :name, class: 'uk-form-label'
    .uk-form-controls
      = f.text_field :name, class: "uk-input uk-form-small #{'uk-disabled' unless current_user.admin }"
  .uk-margin
    = f.label :email, class: 'uk-form-label'
    .uk-form-controls
      = f.email_field :email, class: 'uk-input uk-form-small'
  .uk-margin
    = f.label :password, class: 'uk-form-label'
    .uk-form-controls
      = f.password_field :password, class: 'uk-input uk-form-small'
  .uk-margin
    = f.label :password_confirmation, class: 'uk-form-label'
    .uk-form-controls
      = f.password_field :password_confirmation, class: 'uk-input uk-form-small'
  - if current_user.admin
    .uk-margin
      = f.label :admin, class: 'uk-form-label'
      .uk-form-controls
        = f.check_box :admin, class: 'uk-checkbox',
          data: { action: 'change->access-checkbox#update',
                'access-checkbox-target': 'admin' }
    .uk-margin
      = f.label :read_all_department, class: 'uk-form-label'
      .uk-form-controls
        = f.check_box :read_all_department, class: 'uk-checkbox',
          data: { 'access-checkbox-target': 'readAll' }
    .uk-margin
      = f.label :write_all_department, class: 'uk-form-label'
      .uk-form-controls
        = f.check_box :write_all_department, class: 'uk-checkbox',
          data: { 'access-checkbox-target': 'writeAll' }
  .uk-width-1-1
    = f.submit class: 'uk-button uk-button-primary uk-align-center'
