<h1>Login</h1>
<div class="notice"><%=@notice%></div>
<%= form_for(:session, url: 'create') do |f| %>
  <% if @redirect %>
    <%= f.hidden_field :redirect, value: @redirect %>
  <% end %>
  <%=f.label 'Email cím' %>
  <%=f.text_field :email%>
  <%=f.label 'Jelszó' %>
  <%=f.password_field :password%>
  <%=f.submit "Bejelentkezés" %>
<%end%>
