<p id="notice"><%= notice %></p>

<h1>Körök</h1>

<table>
  <thead>
    <tr>
      <th>Név</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_items_path(group) %></td>
        <td><%= link_to 'Szerkesztés', edit_group_path(group) %></td>
        <td><%= link_to 'Törlés', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új kör', new_group_path %>
