<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1>Körök</h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= new_group_button %>
    </div>
  </div>

  <div class="uk-clearfix">
    <div class="uk-float-right">
      <%= paginate @groups %>
    </div>
  </div>

  <ul class="uk-list uk-list-divider">
    <% @groups.each do |group| %>
      <li class="uk-clearfix uk-margin-remove-top">
        <div class="uk-float-left">
          <h3>
            <%= link_to group.name, group_items_path(group_id: group.id) %>
          </h3>
        </div>
        <div class="uk-float-right">
          <%= group.edit_group_button %>
          <%= group.delete_group_button %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
