%h3=User.human_attribute_name(:rights)
%ul.uk-list.uk-list-divider
  - user.rights.each do |right|
    %li.uk-clearfix.uk-margin-remove-top
      .uk-float-left
        = link_to right.group.name, edit_group_path(right.group), class: 'uk-link-muted'
      .uk-float-right
        = right.type_icon
        = link_to(edit_label, right, method: :patch,
          class: 'uk-button uk-button-small uk-button-secondary uk-margin-left')
        = link_to(delete_label, right, method: :delete,
          data: { confirm: 'Biztosan törölni szeretnéd?' },
          class: 'uk-button uk-button-small uk-button-danger')
= form_for :right, url: rights_path, class: 'uk-form uk-margin-small-top' do |f|
  %div{"uk-grid" => ""}
    = f.hidden_field :user_id, value: user.id
    %div{:class => "uk-width-1-2@m"}
      = f.select :group_id,
        options_for_select(groups_without_access(user).map { |g| [g.name, g.id] }),
        {},
        { class: 'uk-select uk-form-small uk-width-1-1' }
    %div{:class => "uk-width-expand@m"}
      %label
        =Right.human_attribute_name(:write)
        \#{f.check_box :write, class: 'uk-checkbox'}
    .uk-width-auto.uk-align-center
      = f.submit t('form.actions.add'), class: 'uk-button uk-button-small uk-button-primary uk-align-right'
