<h3>Felhasználó hozzáférései</h3>

<ul class="uk-list uk-list-divider">
  <% user.rights.decorate.each do |right| %>
    <li class="uk-clearfix uk-margin-remove-top">
      <div class="uk-float-left">
        <%= link_to right.group.name, edit_group_path(right.group), class: 'uk-link-muted' %>
      </div>
      <div class="uk-float-right">
        <%= right.type_icon %>
        <%= link_to(edit_label, right, method: :patch,
                    class: 'uk-button uk-button-small uk-button-secondary uk-margin-left') %>
        <%= link_to(delete_label, right, method: :delete,
                    data: { confirm: 'Biztosan törölni szeretnéd?' },
                    class: 'uk-button uk-button-small uk-button-danger') %>
      </div>
    </li>
  <% end %>
</ul>

<h3>Hozzáadás</h3>
<%= form_for :right, url: rights_path, class: 'uk-form uk-margin-small-top' do |f| %>
  <div uk-grid>
    <%= f.hidden_field :user_id, value: user.id %>
    <div class="uk-width-1-2@m">
      <%= f.select :group_id,
          options_for_select(Group.select { |g| !Pundit.policy(user, g).write_items? && !Pundit.policy(user, g).read_items? }.map { |g| [g.name, g.id] }),
          {},
          { class: 'uk-select uk-form-small uk-width-1-1' } %>
    </div>
    <div class="uk-width-expand@m">
      <label>
        szerkesztési jog
        <%= f.check_box :write, class: 'uk-checkbox' %>
      </label>
    </div>
    <div class="uk-width-auto uk-align-center">
      <%= f.submit 'Hozzáadás', class: 'uk-button uk-button-small uk-button-primary uk-align-right' %>
    </div>
  </div>
<% end %>
