<p id="notice"><%= notice %></p>

<h1>Felhasználók</h1>

<table>
  <thead>
    <tr>
      <th>Név</th>
      <th>Email</th>
      <th>Olvasási jogok</th>
      <th>Írási jogok</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.read_rights %></td>
        <td><%= user.write_rights %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Profil', user %></td>
        <td><%= link_to 'Szerkesztés', edit_user_path(user) %></td>
        <td><%= link_to 'Törlés', user, method: :delete, data: { confirm: 'Biztosan törlöd?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új felhasználó', new_user_path %>
