<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1><%= t 'activerecord.models.user.other' %></h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to new_label, new_user_path, class: 'uk-button uk-button-primary uk-button-small' %>
    </div>
  </div>

  <div class="uk-clearfix">
    <div class="uk-float-right">
      <%= paginate @users %>
    </div>
  </div>

  <ul class="uk-list uk-list-divider">
    <% @users.each do |user| %>
      <li class="uk-clearfix uk-margin-remove-top">
        <div class="uk-float-left">
          <h3>
            <%= link_to user.name, user %>
          </h3>
        </div>
        <div class="uk-float-right">
          <%= link_to edit_label, edit_user_path(user), class: 'uk-button uk-button-secondary' %>
          <%= link_to delete_label, user, method: :delete,
                      data: { confirm: t(:are_you_sure_to_delete) },
                      class: 'uk-button uk-button-danger '%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
