<p id="notice"><%= notice %></p>

<p>
  <strong>Név:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Olvasási jogok:</strong>
  <%= @user.read_rights %>
</p>

<p>
  <strong>Írási jogok:</strong>
  <%= @user.write_rights %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Szerkesztés', edit_user_path(@user) %> |
<%= link_to 'Vissza', users_path %>
