<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1>Rendszerbeállítások szerkesztése</h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to back_label, system_attributes_path, class: 'uk-button uk-button-default uk-button-small' %>
    </div>
  </div>

  <div class="uk-align-center uk-width-2-3@m">
    <%= form_tag edit_system_attributes_path, html: {class: 'uk-form-horizontal'} do %>

      <% @system_attributes.each do |attribute| %>
        <div class="uk-margin">
          <%= label_tag attribute.name, attribute.name, class: 'uk-form-label' %>
          <div class="uk-form-controls">
            <%= text_field_tag attribute.name, attribute.value, class: 'uk-input uk-form-small' %>
          </div>
        </div>
      <% end %>

      <%= submit_tag t(:save), class: 'uk-button uk-button-primary uk-align-center' %>
    <% end %>
  </div>

</div>
