.uk-container
  %h1 Eredmény
  %ul{"uk-accordion" => ""}
    - @results.each do |result|
      %li
        %a.uk-accordion-title{:href => "#"}
          = result[:sheet]
          \-
          (
          %span.uk-text-success= result[:result][:success_count]
          \/
          = succeed ")" do
            %span.uk-text-danger= result[:result][:errors].count
        .uk-accordion-content
          - unless result[:result][:errors].empty?
            %ul.uk-list.uk-list-striped
              %li Név - serial
              - result[:result][:errors].each do |error|
                %li
                  = error[:name]
                  \- #{error[:serial]}
