%h3= t('form.department.department_users.title')
%ul.uk-list.uk-list-divider
  - department.department_users.each do |department_user|
    %li.uk-clearfix.uk-margin-remove-top
      .uk-float-left
        = link_to department_user.user.name, user_path(department_user.user), class: 'uk-link-muted'
      .uk-float-right
        = department_user.type_icon
        = link_to(edit_label, department_user, method: :patch,
          class: 'uk-button uk-button-small uk-button-secondary uk-margin-left')
        = link_to(delete_label, department_user, method: :delete,
          data: { confirm: t('form.actions.are_you_sure') },
          class: 'uk-button uk-button-small uk-button-danger')
%h3= t('form.actions.add')
= form_for :department_user, url: department_users_path, class: 'uk-form uk-margin-small-top' do |f|
  %div{"uk-grid" => ""}
    = f.hidden_field :department_id, value: department.id
    %div{:class => "uk-width-1-2@m"}
      = f.select :user_id,
        options_for_select(users_with_no_access_to_department(department, current_organization).map { |u| [u.name, u.id] }),
        {},
        { class: 'uk-select uk-form-small uk-width-1-1' }
    %div{:class => "uk-width-expand@m"}
      %label
        = t('form.department_user.edit')
        \#{f.check_box :write, class: 'uk-checkbox'}
    .uk-width-auto.uk-align-center
      = f.submit t('form.actions.add'), class: 'uk-button uk-button-small uk-button-primary uk-align-right'
