.uk-container
  .uk-clearfix
    .uk-float-left
      %h1= t('navigation.departments')
    .uk-float-right.uk-padding-small
      = new_department_button
  .uk-clearfix
    .uk-float-right
      != pagy_uikit_nav @pagy
  %ul.uk-list.uk-list-divider
    - @departments.each do |department|
      %li.uk-clearfix.uk-margin-remove-top
        .uk-float-left
          %h3
            = link_to department.name, department_items_path(department_id: department.id)
        .uk-float-right
          = department.edit_department_button
          = department.delete_department_button
