<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1>Státusz</h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to edit_label, edit_status_path(nil), class: 'uk-button uk-button-default uk-button-small' %>
    </div>
  </div>

  <h3>Teljes haladás</h3>
  <div class="uk-text-muted">
    <%= @status.session_start %> óta ellenőrzött eszközök.
  </div>
  <progress class="uk-progress" value="<%= @status.finished_item_count %>" max="<%= @status.existing_item_count %>"></progress>

  <div class="uk-width-2-3@m uk-child-width-1-2" uk-grid>
    <div>Összes eszköz:</div>
    <div><%= @status.all_item_count %></div>

    <div>Létező eszközök:</div>
    <div><%= @status.existing_item_count %></div>
    <div class="uk-width-1-1 uk-text-muted uk-margin-remove-top">
      Azok az eszközök, melyek nincsennek leselejtezve, nem várnak selejtezésre és nem tűntek el.
    </div>

    <div>Leltárazott eszközök:</div>
    <div><%= @status.finished_item_count %></div>

    <div>Körtagnál levő eszközök:</div>
    <div><%= @status.at_member_item_count %></div>
  </div>
</div>
