<%= form_for @item, url: item_status_check_path(@item), method: :post, class: 'uk-form' do |f| %>
  <h3>Státusz frissítése</h3>

  <div class="uk-grid-small uk-child-width-1-2@m" uk-grid>
    <div>
      <%= label_tag :status, 'Státusz', class: 'uk-form-label uk-h3' %>
    </div>
    <div>
      <%= f.select :status,
          options_for_select(Item.translated_statuses.map { |t, k| [t, k] }, @item.status),
          {},
          { class: 'uk-select uk-form-small' } %>
    </div>

    <div>
      <%= label_tag :condition, 'Kondíció', class: 'uk-form-label uk-h3' %>
    </div>
    <div>
      <%= f.select :condition,
          options_for_select(Item.translated_conditions.map { |t, k| [t, k] }, @item.condition),
          {},
          { class: 'uk-select uk-form-small' } %>
    </div>

    <div class="uk-width-1-5@m uk-widt-1-1">
      <%= f.submit(t(:it_is_ok), class: 'uk-button uk-button-primary uk-button-small uk-width-1-1') %>
    </div>
  </div>

<% end %>
