%ul.uk-padding-small{"uk-accordion" => ""}
  - item.children.each do |child|
    %li
      %a.uk-accordion-title{:href => "#"}= child.name
      .uk-accordion-content{"uk-grid" => ""}
        .uk-width-expand
          .uk-width-1-1.uk-clearfix
            .uk-float-left
              %h3.uk-margin-remove= child.compact_name
            .uk-float-right.uk-margin-right
              = child.organization&.humanize
          .uk-width-1-1.uk-text-muted.uk-text-small
            = child.translated_status
          .uk-width-1-1.uk-grid-collapse{"uk-grid" => ""}
            .uk-width-expand
              = child.description
            %div{:style => "width: 200px"}
              %div.uk-text-nowrap="#{Item.human_attribute_name(:purchase_date)}: #{child.purchase_date}"
              %div.uk-text-nowrap="#{Item.human_attribute_name(:last_check)}: #{child.last_check}"
