<%= form_for item, html: {class: 'uk-form-horizontal', multipart: true} do |f| %>

  <%= render 'alert', errors: item.errors %>

  <div class="uk-margin">
    <%= f.label :name, 'Név', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :specific_name, 'Specifikus név', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :specific_name, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :number, 'Darabszám', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.number_field :number, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :group_id, 'Kör', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <% options = options_from_collection_for_select(@write_groups, :id, :name, @item.group.id) %>
      <%= f.select :group_id, options, {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :location, 'Lokalizáció', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :location, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :at_who, 'Kinél található', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :at_who, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :purchase_date, 'Beszerzési dátum', class: 'uk-form-label' %>
    <div class="uk-form-controls uk-text-right">
      <%= f.date_select :purchase_date, {}, {class: 'uk-select uk-width-1-4 uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :entry_date, 'Felvitel dátuma', class: 'uk-form-label' %>
    <div class="uk-form-controls uk-text-right">
      <%= f.date_select :entry_date, {}, {class: 'uk-select uk-width-1-4 uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :accountancy_state, 'Könyvelési állapot', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.select :accountancy_state, Item.accountancy_states.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :warranty, 'Garancia', class: 'uk-form-label' %>
    <div class="uk-form-controls uk-text-right">
      <%= f.date_select :warranty, {}, {class: 'uk-select uk-width-1-4 uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :entry_price, 'Darabszám', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.number_field :entry_price, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :serial, 'Serial', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :serial, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :inventory_number, 'Leltári szám', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :inventory_number, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :organization, 'Szervezet', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.select :organization, Item.organizations.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :description, 'Leírás', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :description, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :comment, 'Megjegyzés', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :comment, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <h3>Státusz frissítése</h3>

  <div class="uk-text-muted uk-text-small uk-text-justify">
    Amennyiben ez az opció be van pipálva, az eszköz státusza és az utolsó ellenőrzés dátuma is módosulni fog a mentés során, méghozzá a jelenlegi időbélyeggel.
  </div>

  <div class="uk-margin">
    <%= f.label :status, 'Státusz', class: 'uk-form-label uk-h3' %>
    <div class="uk-form-controls">
      <%= f.select :status, Item.statuses.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :condition, 'Állapot', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.select :condition, Item.conditions.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :update, 'Státusz frissítése', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= check_box_tag :update, 0, false, class: 'uk-checkbox' %>
    </div>
  </div>

  <%if image_uploader %>
    <div class="uk-margin">
      <%= f.label :picture, 'Kép', class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.file_field :picture %>
      </div>
    </div>
  <%end%>

  <div class="uk-width-1-1">
    <%= f.submit 'Mentés', class: 'uk-button uk-button-primary uk-align-center' %>
  </div>

<% end %>
