<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :group %>
    <%= f.text_field :group %>
  </div>

  <div class="field">
    <%= f.label :purchase_date %>
    <%= f.date_select :purchase_date %>
  </div>

  <div class="field">
    <%= f.label :entry_date %>
    <%= f.date_select :entry_date %>
  </div>

  <div class="field">
    <%= f.label :last_check %>
    <%= f.date_select :last_check %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :old_number %>
    <%= f.number_field :old_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
