<%= form_for item, html: {class: 'uk-form-horizontal', multipart: true} do |f| %>

  <%= render 'alert', errors: item.errors %>

  <div class="uk-margin">
    <%= f.label :name, 'Név', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :description, 'Leírás', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :description, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :group_id, 'Kör', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <% options = options_from_collection_for_select(@write_groups, :id, :name, @item.group.id) %>
      <%= f.select :group_id, options, {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :purchase_date, 'Beszerzés dátuma', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.date_select :purchase_date, {}, {class: 'uk-select uk-width-1-4 uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :entry_date, 'Felvitel dátuma', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.date_select :entry_date, {}, {class: 'uk-select uk-width-1-4 uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :state, 'Státusz', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.select :state, Item.states.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :old_number, 'Leltári szám', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :old_number, class: 'uk-input uk-form-small' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :organization, 'Szervezet', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.select :organization, Item.organizations.keys.map { |k| [k.humanize, k] },
                   {}, {class: 'uk-select uk-form-small'} %>
    </div>
  </div>

  <%if image_uploader %>
    <div class="uk-margin">
      <%= f.label :picture, 'Kép', class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.file_field :picture %>
      </div>
    </div>
  <%end%>

  <div class="uk-width-1-1">
    <%= f.submit 'Mentés', class: 'uk-button uk-button-primary uk-align-center' %>
  </div>

<% end %>
