<% html_attrs = if image_uploader then {multipart: true} else nil end %>
<%= form_for item, html: html_attrs do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Név' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'Leírás' %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label 'Kör' %>
    <%= f.select :group, Group.all.map { |g| g.name } %>
  </div>

  <div class="field">
    <%= f.label 'Beszerzés dátuma' %>
    <%= f.date_select :purchase_date %>
  </div>

  <div class="field">
    <%= f.label 'Felvitel dátuma' %>
    <%= f.date_select :entry_date %>
  </div>

  <div class="field">
    <%= f.label 'Utolsó ellenőrzés' %>
    <%= f.date_select :last_check %>
  </div>

  <div class="field">
    <%= f.label 'Státusz' %>
    <%= f.select :status, Item::VALID_STATUS %>
  </div>

  <div class="field">
    <%= f.label 'Leltári szám' %>
    <%= f.number_field :old_number %>
  </div>

  <%if image_uploader%>
    <div class="field">
      <%= f.label 'Kép' %>
      <%= f.file_field :picture%>
    </div>
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
