- if @item.invoice.attached?
  .uk-inline
    = image_tag @item.invoice.variant(resize: '1000x1000')
    .uk-overlay.uk-position-top
      .uk-position-right
        = form_tag item_invoice_path(@item), method: :delete do
          %a.uk-icon-link.photo-delete.uk-overlay-default.uk-padding-small{:href => "javascript:{}", :onclick => "this.parentElement.submit();", "uk-icon" => "trash"}
- else
  .uk-text-center.uk-margin
    Nincs még számla
  = form_tag item_invoice_path(@item), method: :post, multipart: true, class: 'uk-form-horizontal' do |f|
    .uk-margin
      = label_tag :photo, 'Számla feltöltése', class: 'uk-form-label'
      .uk-form-controls
        = file_field_tag :photo, accept: :'image/*'
    .uk-width-1-1
      = submit_tag t(:upload), class: 'uk-button uk-button-primary uk-align-center'
