- if @item.invoice.attached?
  .uk-inline
    = image_tag @item.invoice.variant(resize_to_limit: [1000, 1000])
    .uk-overlay.uk-position-top
      .uk-position-right
        = form_tag item_invoice_path(@item), method: :delete do
          %a.uk-icon-link.photo-delete.uk-overlay-default.uk-padding-small{:href => "javascript:{}", :onclick => "this.parentElement.submit();", "uk-icon" => "trash"}
- else
  .uk-text-center.uk-margin=t('form.invoice.missing')
  = form_tag item_invoice_path(@item), method: :post, multipart: true, class: 'uk-form-horizontal' do |f|
    .uk-margin
      = label_tag :photo, Item.human_attribute_name('invoice.photo'), class: 'uk-form-label'
      .uk-form-controls
        = file_field_tag :photo, accept: 'image/*'
    .uk-width-1-1
      = submit_tag t('form.actions.upload'), class: 'uk-button uk-button-primary uk-align-center'
