<% if @item.invoice.attached? %>
  <div class="uk-inline">
    <%= image_tag @item.invoice.variant(resize: '1000x1000') %>
    <div class="uk-overlay uk-position-top">
      <div class="uk-position-right">
        <%= form_tag item_invoice_path(@item, @item.invoice.id), method: :delete do %>
        <a href="javascript:{}" onclick="this.parentElement.submit();" uk-icon="trash"
          class="uk-icon-link photo-delete uk-overlay-default uk-padding-small"></a>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="uk-text-center uk-margin">
    Nincs még számla
  </div>
<% end %>

<%= form_tag item_invoice_path(@item), method: :post, multipart: true, class: 'uk-form-horizontal' do |f| %>
  <div class="uk-margin">
    <%= label_tag :photo, 'Számla feltöltése', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= file_field_tag :photo, accept: :'image/*' %>
    </div>
  </div>
  <div class="uk-width-1-1">
    <%= submit_tag t(:upload), class: 'uk-button uk-button-primary uk-align-center' %>
  </div>
<% end %>
