<li class="uk-margin-remove uk-grid-collapse" style="min-height:110px" uk-grid>
  <div class="uk-width-expand">
    <div class="uk-width-1-1">
      <h3 class="uk-margin-remove"><%= item.compact_name %></h3>
    </div>

    <div class="uk-width-1-1 uk-text-muted uk-text-small">
      <%= item.state.humanize %>
    </div>

    <div class="uk-width-1-1 uk-grid-collapse" uk-grid>
      <div class="uk-width-expand">
        <%= item.description %>
      </div>
      <div style="width: 200px">
        <div>Vásárolva: <%= item.purchase_date %></div>
        <div>Ellenőrizve: <%= item.last_check %></div>
      </div>
    </div>
  </div>

  <div style="width: 110px">
    <%= item.photo %>
  </div>
</li>
