<% if @item.photos.attached? %>
  <ul class="uk-list">
    <% @item.photos.each do |photo| %>
    <li>
      <div class="uk-inline">
        <%= image_tag photo.variant(resize: '1000x1000') %>
        <div class="uk-overlay uk-position-top">
          <div class="uk-position-right">
            <%= form_tag item_photo_path(@item, photo.id), method: :delete do %>
            <a href="javascript:{}" onclick="this.parentElement.submit();" uk-icon="trash"
              class="uk-icon-link photo-delete uk-overlay-default uk-padding-small"></a>
            <% end %>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
<% else %>
  <div class="uk-text-center uk-margin">
    Nincs még kép
  </div>
<% end %>

<%= form_tag item_photos_path(@item), method: :post, multipart: true, class: 'uk-form-horizontal' do |f| %>
  <div class="uk-margin">
    <%= label_tag :photo, 'Új kép feltöltése', class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= file_field_tag :photo, accept: :'image/*' %>
    </div>
  </div>
  <div class="uk-width-1-1">
    <%= submit_tag t(:upload), class: 'uk-button uk-button-primary uk-align-center' %>
  </div>
<% end %>
