.uk-container
  .uk-clearfix
    .uk-float-left
      %h1= items_page_title
    .uk-float-right.uk-padding-small
      = new_item_button
  .uk-clearfix
    .uk-float-right
      = paginate @items
  %div{ data: { controller: 'filter' } }
    %div.uk-padding
      = button_tag :filter, class: 'uk-button uk-button-link uk-align-right',
        data: { action: 'filter#toggle', 'filter-target': 'source', 'filter-name': 'children', 'filter-active': true }
    %ul.uk-list.uk-list-divider
      = render partial: 'item', collection: @items
