<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <% if @group %>
        <h1>"<%= @group.name %>" eszközei</h1>
      <% elsif %>
        <h1>Eszközök</h1>
      <% end %>
    </div>
    <div class="uk-float-right uk-padding-small">
      <% if current_user.admin %>
        <% if @group %>
          <%= link_to 'Új eszköz', new_group_item_path, class: 'uk-link-muted' %>
        <% elsif %>
          <%= link_to 'Új eszköz', new_item_path, class: 'uk-link-muted' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="uk-clearfix">
    <div class="uk-float-right">
      <%= paginate @items %>
    </div>
  </div>

  <ul class="uk-list uk-list-divider">
    <% @items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </ul>
</div>
