<p id="notice"><%= notice %></p>

<h1>
  <% if @group %>
    <%=@group%> eszkozei
  <% else %>
    Osszes eszkoz
  <% end %>
</h1>
<div id='filter-container'>
  Filter:
  <input type='text', id='filter-field'/>
  <button id='filter'>Filter</button>
</div>
<div id='csv-link-contrainer'>
  <%= link_to "Letoltes CSV-ben", csv_link %>
<div id='grid-container'></div>
  <script>
<%if @filter%>
  window.itemFilter = "<%=@filter%>"
<% else %>
  window.itemFilter = null
<%end%>
<%if @group%>
window.group = "<%=@group%>"
<% else %>
  window.group = null
<%end%>
  </script>
  <% if current_user.can_write?('all') %>
    <%= link_to 'New Item', new_item_path %>A
  <% end %>
