<p id="notice"><%= notice %></p>

<h1 class='page-title'>
  <% if @group %>
    <%=@group%> eszközei
  <% else %>
    Összes eszköz
  <% end %>
</h1>
<div id='left-container'>
  <div id='filter-container'>
    Szűrő:
    <input type='text', id='filter-field'/>
    <button id='filter'>Szűrés</button>
  </div>
  <div id='csv-link-container'>
    <%= link_to "Letöltés CSV-ben", csv_link %>
  </div>
  <div class='pagemode-container'>
    <a class='pagemode-toggle'>Leltározás</a>
    <a class='save-changes'>Változtatások mentése</a>
    <div class='error-message'></div>
  </div>
</div>
<% if current_user.can_write?('all') %>
  <div id='right-container'>
    <%= form_tag({action: :upload_csv}, multipart: true) do %>
      CSV fájl feltöltése
      <%= file_field_tag 'csv_file', class: 'csv-file' %>
      <%= submit_tag "Feltöltés" %>
    <% end %>
  </div>
<% end %>
<div style='clear:both'></div>
<div class='pagination-container'>
  <a class='page-link first-page-link'>&lt;&lt;</a>
  <a class='page-link prev-page-link'>&lt;</a>
  <span class='page-num'></span>
  <a class='page-link next-page-link'>&gt;</a>
  <a class='page-link last-page-link'>&gt;&gt;</a>
</div>
<div class='loading-container'>
  <%= image_tag '/loading.gif' %>
</div>
<div id='grid-container'></div>
<% if current_user.can_write?('all') %>
    <%= link_to 'Új eszköz', new_item_path, class: 'new-item-link' %>
<% end %>
<script>
<%if @filter%>
  window.itemFilter = "<%=@filter%>"
<% else %>
  window.itemFilter = null
<%end%>
<%if @group%>
window.group = "<%=@group%>"
<% else %>
  window.group = null
<%end%>
</script>
