<p id="notice"><%= notice %></p>
<div class="row">
  <div id="details-container" class="col-md-4">
    <p>
      <strong>Név:</strong>
      <%= @item.name %>
    </p>

    <p>
      <strong>Leírás:</strong>
      <%= @item.description %>
    </p>

    <p>
      <strong>Kör:</strong>
      <%= @item.group.name%>
    </p>

    <p>
      <strong>Beszerzés dátuma:</strong>
      <%= @item.purchase_date %>
    </p>

    <p>
      <strong>Felvitel dátuma:</strong>
      <%= @item.entry_date %>
    </p>

    <p>
      <strong>Utolsó ellenőrzés:</strong>
      <%= @item.last_check %>
    </p>

    <p>
      <strong>Státusz:</strong>
      <%= @item.status %>
    </p>

    <p>
      <strong>Leltári szám:</strong>
      <%= @item.old_number %>
    </p>
    <% if current_user.can_write?("group:#{@item.group}") %>
      <%= link_to 'Szerkesztés', edit_item_path(@item) %> |
    <% end %>
    <%= link_to 'Vissza', items_path %>
  </div>
  <div id="image-cell" class="col-md-8">
    <% @item.photos.each do |photo| %>
      <div class='img-frame'>
        <a href='<%=photo.url%>'>
          <%= image_tag photo.url(:medium), class: 'img-responsive img-item' %>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Verziók</h3>
    <a href="/items/<%=@item.id%>">Mostani</a>
    <%@item.versions.each do |v|%>
      <div class="item-version">
        <%= version_link(@item.id, v) %>
      </div>
    <%end%>
  </div>
</div>
