<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1><%= @item.name %></h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to back_label, items_path, class: 'uk-button uk-button-default uk-button-small' %>
      <%= @item.edit_button %>
    </div>
  </div>

  <div class="uk-grid-small" uk-grid>
    <div class="uk-child-width-1-1 uk-width-2-3@s uk-width-1-1">
      <ul uk-accordion>
        <li class="uk-open">
          <a class="uk-accordion-title uk-text-bold" href="#">Általános adatok</a>
          <div class="uk-accordion-content">
            <div class="uk-grid-collapse" uk-grid>
              <div class="uk-width-1-3@s uk-text-bold">Specifikus név:</div>
              <div class="uk-width-2-3@s"><%= @item.specific_name %></div>

              <div class="uk-width-1-3@s uk-text-bold">Darabszám:</div>
              <div class="uk-width-2-3@s"><%= @item.number %></div>

              <div class="uk-width-1-3@s uk-text-bold">Kör:</div>
              <div class="uk-width-2-3@s"><%= @item.group.name %></div>

              <div class="uk-width-1-3@s uk-text-bold">Utolsó ellenőrzés:</div>
              <div class="uk-width-2-3@s"><%= @item.last_check %></div>

              <div class="uk-width-1-3@s uk-text-bold">Szülő:</div>
              <div class="uk-width-2-3@s"><%= @item.parent_link %></div>
            </div>
          </div>
        </li>

        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">Állapot</a>
          <div class="uk-accordion-content">
            <div class="uk-grid-collapse" uk-grid>
              <div class="uk-width-1-3@s uk-text-bold">Státusz:</div>
              <div class="uk-width-2-3@s"><%= @item.translated_status %></div>

              <div class="uk-width-1-3@s uk-text-bold">Kondíció:</div>
              <div class="uk-width-2-3@s"><%= @item.translated_condition %></div>

              <div class="uk-width-1-3@s uk-text-bold">Lokalizáció:</div>
              <div class="uk-width-2-3@s"><%= @item.location %></div>

              <div class="uk-width-1-3@s uk-text-bold">Kinél található:</div>
              <div class="uk-width-2-3@s"><%= @item.at_who %></div>
            </div>
          </div>
        </li>

        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">Könyvviteli adatok</a>
          <div class="uk-accordion-content">
            <div class="uk-grid-collapse" uk-grid>
              <div class="uk-width-1-3@s uk-text-bold">Beszerzés dátuma:</div>
              <div class="uk-width-2-3@s"><%= @item.purchase_date %></div>

              <div class="uk-width-1-3@s uk-text-bold">Felvitel dátuma:</div>
              <div class="uk-width-2-3@s"><%= @item.entry_date %></div>

              <div class="uk-width-1-3@s uk-text-bold">Könyvelési állapot:</div>
              <div class="uk-width-2-3@s"><%= @item.translated_accountancy_state %></div>

              <div class="uk-width-1-3@s uk-text-bold">Garancia:</div>
              <div class="uk-width-2-3@s"><%= @item.warranty %></div>

              <div class="uk-width-1-3@s uk-text-bold">Bekerülési ár:</div>
              <div class="uk-width-2-3@s"><%= @item.entry_price %></div>

              <div class="uk-width-1-3@s uk-text-bold">Serial:</div>
              <div class="uk-width-2-3@s"><%= @item.serial %></div>

              <div class="uk-width-1-3@s uk-text-bold">Leltári szám:</div>
              <div class="uk-width-2-3@s"><%= @item.inventory_number %></div>

              <div class="uk-width-1-3@s uk-text-bold">Szervezet:</div>
              <div class="uk-width-2-3@s"><%= @item.organization ? @item.organization.humanize : '' %></div>
            </div>
          </div>
        </li>

        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">Egyéb</a>
          <div class="uk-accordion-content">
            <div class="uk-grid-collapse" uk-grid>
              <div class="uk-width-1-3@s uk-text-bold">Leírás:</div>
              <div class="uk-width-2-3@s"><%= @item.description %></div>

              <div class="uk-width-1-3@s uk-text-bold">Megjegyzés:</div>
              <div class="uk-width-2-3@s"><%= @item.comment %></div>
            </div>
          </div>
        </li>
      </ul>
      <%= @item.check_form %>
    </div>

    <div class="uk-width-1-3@s uk-width-1-1 uk-margin-small-top">

      <% if @item.invoice.attached? %>
        <h3 class="uk-margin-remove">Számla</h3>
        <%= link_to url_for(@item.invoice) do %>
          <%= image_tag @item.invoice.variant(resize: '1000x1000'), class: 'uk-width-1-1' %>
        <% end %>
      <% end %>

      <% if @item.photos.attached? %>
        <h3>Képek</h3>
        <div class="uk-grid-small uk-child-width-1-2" uk-grid>
          <% @item.photos.each do |photo| %>
            <%= link_to url_for(photo) do %>
              <%= image_tag photo.variant(resize: '1000x1000') %>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <% if @item.parent? %>
  <h2>Gyerekek</h2>
  <%= render 'children', item: @item %>
  <% end %>

  <ul class="uk-margin-large-top" uk-accordion>
    <li>
      <a class="uk-accordion-title uk-text-bold" href="#">Verziók (<%= @item.versions.count + 1 %>)</a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          <li>
            <%= link_to 'Jelenlegi', item_path(@item) %>
          </li>
          <% @item.versions.each do |version| %>
            <li>
              <%= version_link(@item.id, version) %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  </ul>
</div>
