<p id="notice"><%= notice %></p>
<div class="row">
  <div id="details-container" class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= @item.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <p>
      <strong>Group:</strong>
      <%= @item.group.name%>
    </p>

    <p>
      <strong>Purchase date:</strong>
      <%= @item.purchase_date %>
    </p>

    <p>
      <strong>Entry date:</strong>
      <%= @item.entry_date %>
    </p>

    <p>
      <strong>Last check:</strong>
      <%= @item.last_check %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @item.status %>
    </p>

    <p>
      <strong>Old number:</strong>
      <%= @item.old_number %>
    </p>
    <% if current_user.can_write?("group:#{@item.group}") %>
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <% end %>
    <%= link_to 'Back', items_path %>
  </div>
  <div id="image-cell" class="col-md-8">
    <% @item.photos.each do |photo| %>
      <%= image_tag photo.url, class: 'img-responsive' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Versions</h3>
    <a href="/items/<%=@item.id%>">Current</a>
    <%@item.versions.each do |v|%>
      <div class="item-version">
        <%= version_link(@item.id, v) %>
      </div>
    <%end%>
  </div>
</div>
