= form_for @item, url: item_status_check_path(@item), method: :post, class: 'uk-form' do |f|
  %h3= t('form.item.update_status')
  .uk-grid-small{:class => "uk-child-width-1-2@m", "uk-grid" => ""}
    %div
      = f.label :status, class: 'uk-form-label uk-h3'
    %div
      = f.select :status,
        options_for_select(Item.translated_statuses.map { |t, k| [t, k] }, @item.status),
        {},
        { class: 'uk-select uk-form-small' }
    %div
      = f.label :condition, class: 'uk-form-label uk-h3'
    %div
      = f.select :condition,
        options_for_select(Item.translated_conditions.map { |t, k| [t, k] }, @item.condition),
        {},
        { class: 'uk-select uk-form-small' }
    .uk-widt-1-1{:class => "uk-width-1-5@m"}
      = f.submit(t('form.item.update_status'), class: 'uk-button uk-button-primary uk-button-small uk-width-1-1')
