- if @item.photos.attached?
  %ul.uk-list
    - @item.photos.each do |photo|
      %li
        .uk-inline
          = image_tag photo.variant(resize_to_fit: [1000, 1000])
          .uk-overlay.uk-position-top
            .uk-position-right
              = link_to '', item_photo_path(@item, photo.id), method: :delete, 'uk-icon' => 'trash',
                class: 'uk-icon-link photo-delete uk-overlay-default uk-padding-small uk-text-danger',
                data: { confirm: t('form.actions.are_you_sure') }
- else
  .uk-text-center.uk-margin
    =t('form.item.photo_missing')
= form_tag item_photos_path(@item), method: :post, multipart: true, class: 'uk-form-horizontal' do |f|
  .uk-margin
    = label_tag :photo, t('form.item.upload'), class: 'uk-form-label'
    .uk-form-controls
      = file_field_tag :photo, accept: 'image/*'
  .uk-width-1-1
    = submit_tag t('form.actions.upload'), class: 'uk-button uk-button-primary uk-align-center'
