.uk-container
  .uk-clearfix
    .uk-float-left
      %h1= t('navigation.locations')
    .uk-float-right.uk-padding-small
      = new_location_button
  .uk-clearfix
    .uk-float-right
      != pagy_uikit_nav @pagy
  %ul.uk-list.uk-list-divider
    - @locations.each do |location|
      %li.uk-clearfix.uk-margin-remove-top
        .uk-float-left
          %h3
            = location.name
        .uk-float-right
          = location.edit_button
          = location.delete_button
