%div{"uk-sticky" => "sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"}
  %nav.uk-navbar-container.main-navbar.uk-light.uk-sticky.uk-box-shadow-medium{:class => "uk-visible@m", "uk-navbar" => ""}
    .uk-navbar-left
      = link_to :items, class: 'uk-navbar-item uk-logo' do
        = t(:title)
      %ul.uk-navbar-nav
        %li
          = link_to t('navigation.departments'), departments_path
        - if admin_navigation_links.any?(&:accessible?)
          %li
            %a{:href => "#", "uk-icon" => "chevron-down"} Admin
            .uk-navbar-dropdown{"uk-dropdown" => "mode: click; offset: -15"}
              %ul.uk-nav.uk-navbar-dropdown-nav
                - admin_navigation_links.select(&:accessible?).each do |link|
                  %li
                    = link_to t(link.translation_key), link.href
    = render 'search'
    .uk-navbar-right
      %ul.uk-navbar-nav
        %li
          = link_to t('navigation.my_profile'), edit_user_path(current_user)
        %li
          = link_to t('navigation.logout'), destroy_session_path, method: :get
        %li
          %a.uk-navbar-toggle{"uk-icon" => "thumbnails", "uk-toggle" => "target: #organization-offcanvas-nav", 'title' => 'Change organization'}

  %nav.uk-navbar-container.main-navbar.uk-light.uk-sticky{:class => "uk-hidden@m", "uk-navbar" => ""}
    .uk-navbar-left.nav-overlay.mobile-search-bar
      %a.uk-navbar-toggle{"uk-navbar-toggle-icon" => "", "uk-toggle" => "target: #mobile-offcanvas-nav"}
    .uk-navbar-right.nav-overlay.mobile-search-bar
      = render 'mobile_search'
      %a.uk-navbar-toggle{"uk-icon" => "thumbnails", "uk-toggle" => "target: #organization-offcanvas-nav"}
    .nav-overlay.uk-navbar-left.uk-flex-1.mobile-search-bar{:hidden => ""}
      = render 'search'
      %a.uk-navbar-toggle{:href => "#", "uk-close" => "", "uk-toggle" => "target: .mobile-search-bar; animation: uk-animation-fade"}

.uk-offcanvas-content{:class => "uk-hidden@m"}
  #mobile-offcanvas-nav{"uk-offcanvas" => "mode: push; overlay: true"}
    .uk-offcanvas-bar.uk-flex.uk-flex-column
      %button.uk-offcanvas-close{:type => "button", "uk-close" => ""}
      %ul.uk-nav.uk-nav-primary.uk-nav-center.uk-margin-auto-vertical
        %li.uk-nav-header
          = link_to :items do
            = image_tag 'favicon.png', class: 'uk-width-1-3'
        %h2= t(:title)
        %li.uk-nav-divider
        %li
          = link_to t('navigation.departments'), departments_path
        - if admin_navigation_links.any?(&:accessible?)
          %li.uk-nav-divider
            - admin_navigation_links.select(&:accessible?).each do |link|
              %li
                = link_to t(link.translation_key), link.href
        %li.uk-nav-divider
        %li
          = link_to t('navigation.my_profile'), edit_user_path(current_user)
        %li
          = link_to t('navigation.logout'), destroy_session_path, method: :get

.uk-offcanvas-content
  #organization-offcanvas-nav{"uk-offcanvas" => "flip: true; mode: push; overlay: true"}
    .uk-offcanvas-bar.uk-flex.uk-flex-column
      %button.uk-offcanvas-close{:type => "button", "uk-close" => ""}
      %ul.uk-nav.uk-nav-primary.uk-nav-center.uk-margin-auto-vertical
        %h2 My Organizations
        %li.uk-nav-divider
        - organizations.each do |organization|
          %li
            = link_to organization.name, items_path(organization_slug: organization.slug)
