<!DOCTYPE html>
<html>
  <head>
    <title>Leltar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="uk-margin-remove">
    <%= render 'navbar' %>
    <div id="main-container" class="container">
      <%= yield %>
    </div>

    <% if flash.alert %>
      <script>
        UIkit.notification("<%= flash.alert %>", {status:'danger'});
      </script>
    <% end %>

    <% if flash.notice %>
      <script>
        UIkit.notification("<%= flash.notice %>", {status:'success'});
      </script>
    <% end %>

  </body>
</html>
