<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'favicon' %>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2452a2">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2452a2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2452a2">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body class="uk-margin-remove">
    <%= render 'navbar' %>
    <div id="main-container" class="container">
      <%= yield %>
    </div>

    <% if flash.alert %>
      <script>
        UIkit.notification("<%= flash.alert %>", {status:'danger'});
      </script>
    <% end %>

    <% if flash.notice %>
      <script>
        UIkit.notification("<%= flash.notice %>", {status:'success'});
      </script>
    <% end %>

  </body>
</html>
