<!DOCTYPE html>
<html>
  <head>
    <title>Leltar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=header>
      <a href="/">SCH Leltár</a>
      <a href="/groups">Korok</a>
      <a href="<%=users_path%>">Felhasznalok</a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
